@font-face {
	font-family: 'Lalala';
	src: url('../fonts/Lalala.eot'); 
	src: url('../fonts/Lalala.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/Lalala.woff2') format('woff2'), 
    url('../fonts/Lalala.woff') format('woff'), 
    url('../fonts/Lalala.ttf')  format('truetype'), 
    url('../fonts/Lalala.svg#Lalala') format('svg');
}
* {
	font-family: 'Lalala', arial, sans-serif;
	padding: 0px;
	margin: 0px;

}
div {
	box-sizing: border-box;
}
li {
	list-style: none;
}
.container {
	width: 940px;
	margin: 0px auto;
}
.font-arial {
	font-family: arial, sans-serif;
}
header {
	color: #fff;
	background: url(../img/splash1.jpg) 100% 100%/cover no-repeat;
}
.header-flex {
	display: flex;
	padding-top: 55px;
	justify-content: space-between;
}
.logo, .contacts {
	height: 20px;
}
.navigation {
	display: flex;
	height: 15px;
	justify-content: space-between;
}
nav {
	height: 15px;
	width: 33%;
}
.navigation__link, .contacts__link {
	text-decoration: none;
	color: #fff;

}
.navigation__item:hover, .contacts:hover {
	background: #9a6d59;
	height: 20px;
	border-bottom: 1px dotted #fff;
}
.head-title {
	text-align: center;
	margin-top: 300px;
}
.head-title:after {
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	margin: 305px auto 0px auto;
	background: url(../img/arrow.png) no-repeat;
	padding-bottom: 45px;
}
h1 {
	font-size: 49px;
	background: linear-gradient(7deg, #cfb237 44%, #5e91c9 67%);
    -webkit-background-clip: text;
    -o-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    color: transparent;
}
.head-title p {
	font-size: 29px;
	font-style: italic;
}
.first-bridge {
	text-align: center;
	background:
	linear-gradient(to bottom, #171f22, pink);
	height: 15px;
}
#about {
	background: url(../img/leaves11.jpg) center 100%/cover no-repeat;
	font-size: 15px;
	color: #3ed6e1;
}
.about-me {
	color: #cfb237;
	margin: 65px 10px 80px 0px;
	font-size: 37px;
}
.about {
	display: flex;
	justify-content: space-between;
}
.about-background, .about-advantages {
	width: 47%;
}
.about h3 {
	margin-bottom: 10px;
	color: #c89a4a;
}
.about-advantages__list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.7em;
}
/* см 68 html
.about-advantages__list_item {
	position: relative;
	width: 103px;
}
.about-advantages__list_item span {
	position: absolute;
	left: 42%;
	top: 42%;
	font-size: 20px;
}*/
.about-advantages__list_icon {
	width: 103px;
	height: 103px;
	background: url(../img/icon.png);
	text-align: center;
	line-height: 103px;
}
.about-advantages__list_text {
	text-align: center;
	margin-top: 30px;
}
.connection__list {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.connection__list_item {
	padding: 0.43rem 0rem;
}
.connection__list_link {
	text-decoration: none;
	color: #c89a4a;
}
.connection__list_link:hover {
	background: #8a2b2b;
	border: dashed #9ca0d7;
	padding: 0.2rem 0.2rem;
}
.awesome-icon {
	font-size: 3em;
	color: #9ca0d7;
}
.second-bridge {
	text-align: center;
	background:
	linear-gradient(to bottom, #171f22, #fff);
	height: 15px;
}
.my-skills {
	color: #6d677e;
	margin: 65px 10px 80px 0px;
	font-size: 37px;
	text-align: center;
}
/*.skill-list {
	display: flex;
	justify-content: space-around;

}*/
.skill-list__item {
	color: #b76d20;
	height: 3rem;
	/*width: 4rem;*/
	border: solid 1px;
	text-align: center;
	line-height: 3rem;
}